<!DOCTYPE html>
<html>
  <head>
    <title>ViteRailsDocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= yield :javascript %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
